<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD Simples</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">C R U D (clientes)</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/cadastro">Cadastrar</a></li>
                    <li><a href="/pesquisar">Pesquisar</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container-fluid">

        <h3 class="page-header">Editar Cliente</h3>

        <form action="/">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Cód. Cliente</label>
                    <input type="number" class="form-control" id="codCliente" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label>Data de Cadastro</label>
                    <input type="date" class="form-control" id="dtCadastro" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Nome*</label>
                    <input type="text" class="form-control" id="nomeCliente" placeholder="Digite aqui o nome">
                </div>
                <div class="form-group col-md-3">
                    <label>CPF/CNPJ</label>
                    <input type="text" class="form-control" id="cpfCnpjCliente" placeholder="Digite aqui o cpf ou cnpj" />
                </div>
                <div class="form-group col-md-3">
                    <label>Inscrição Estadual</label>
                    <input type="text" class="form-control" id="ieCliente" placeholder="Digite aqui a I.E. caso seja cnpj">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" id="emailCliente" placeholder="Digite aqui o email">
                </div>
                <div class="form-group col-md-3">
                    <label>Telefone</label>
                    <input type="tel" class="form-control" id="telefoneCliente" placeholder="(99) 9999-9999">
                </div>
                <div class="form-group col-md-3">
                    <label>Celular</label>
                    <input type="tel" class="form-control" id="celularCliente" placeholder="(99) 9 9999-9999">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Logradouro</label>
                    <input type="text" class="form-control" id="logradouroCliente" placeholder="Digite aqui o logradouro">
                </div>
                <div class="form-group col-md-4">
                    <label>Bairro</label>
                    <input type="text" class="form-control" id="bairroCliente" placeholder="Digite aqui o bairro">
                </div>
                <div class="form-group col-md-4">
                    <label>Complemento</label>
                    <input type="text" class="form-control" id="complementoCliente" placeholder="Digite aqui o complemento">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Cidade</label>
                    <input type="text" class="form-control" id="cidadeCliente" placeholder="Digite aqui a cidade">
                </div>
                <div class="form-group col-md-1">
                    <label>UF</label>
                    <input type="text" class="form-control" id="ufCliente" placeholder="UF">
                </div>
                <div class="form-group col-md-3">
                    <label>CEP</label>
                    <input type="text" class="form-control" id="cepCliente" placeholder="Digite aqui o cep">
                </div>
                <div class="form-group col-md-3">
                    <label>Bloqueado</label>
                    <input type="checkbox" class="form-control" id="bloqueioCliente">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label>Observações</label>
                    <input type="text" class="form-control" id="obsCliente" placeholder="Digite aqui alguma observação">
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                    <a href="/" class="btn btn-default">Cancelar</a>
                </div>
            </div>

        </form>
    </div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>